.Runaway-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(84, 79, 84);
}
.legend-entry1 {
  color: black; /* 텍스트 색상을 검정으로 설정 */
  font-size: 0.9rem; /* 텍스트 크기 조정 */
  padding: 2px; /* 패딩 조정 */
}
