/* 첫번째줄 */

.container1 {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

/* 가정폭력 현황 */
.graph-protection {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 40%;
}
.protection-title {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}

.protection-y-text {
  font-size: 13px;
  font-weight: bold;
}

.protection-x-text {
  font-size: 14px;
  font-weight: bold;
}

/* 만 18세 폭력 피해 경험 */

.graph-violenceExp {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 60%;
}

.violenceExp-title {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}

/* 가정폭력 피해경험 */
.violenceExp-legend {
  font-size: 20px;
  display: flex;
  font-weight: bold;
  padding-left: 50px;
}

.violenceExp-y-axis {
  padding-left: 50px;
  font-size: 12px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
  padding-bottom: 10px;
}

.violenceExp-x-text {
  font-size: 14px;
  font-weight: bold;
}
.violenceExp-y-text {
  font-size: 20px;
  font-weight: bold;
}

/* 목격경험 + 주가해자 */

.container2 {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  justify-content: space-around;
}

.graph-perpetrator {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.perpetrator-title {
  padding-top: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
  text-align: center;
}

.perpetrator-x-text {
  font-size: 14px;
  font-weight: bold;
}

.perpetrator-y-text {
  font-size: 17px;
  font-weight: bold;
}

/* 가정폭력 인프라 */
.graph-vioinfra {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 0px;
}

.vioinfra-title {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}

/* 가정폭력 신고건수 */
.graph-report1 {
  /* padding: 20px; */

  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.report-chart svg {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 110%;
  height: auto;
}
.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

/* 검찰청 조치현황 report */

.graph-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 50%;
  padding-bottom: 0;
  margin-left: 30px;
}

#report-tooltip {
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 5px;
  pointer-events: none; /* 툴팁이 마우스 이벤트를 방해하지 않도록 함 */
}

#heatmap-report {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 150%; /* 50%는 2:1 비율입니다. 원하는 비율에 맞게 조정하세요. */
  margin-bottom: 0;
}

#heatmap-report svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: auto;
  padding-right: 0;
}

.cell:hover {
  border: 1px solid #000;
  cursor: pointer;
}

.report-container {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  justify-content: space-around;
  height: 100%;
}

#report-chart {
  width: 100%;
  height: 0;
  padding-bottom: 50%; /* 2:1 비율 (세로 2, 가로 1) 설정 */
  position: relative;
}

#report-chart svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#city-title {
  font-size: 30px;
  font-weight: bold;
  color: #6e7176;
  margin-top: 4px;
}

.report-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #6e7176;
}

.loading-chart{
  font-size : 16px;
  font-weight : bold;
  color : #6e7176;

}

.report-title {
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  color: #6e7176;
}

.sort-button {
  width: 50%;
  height: 20px;
  font-size: 13px;
  padding: 0;
  margin-top: 10px;
}

.report-title1 {
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}
