/* 첫번째줄 */

.container1 {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

/* 가정폭력 현황 */
.graph-protection {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 40%;
}
.protection-title {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}

.protection-y-text {
  font-size: 13px;
  font-weight: bold;
}

.protection-x-text {
  font-size: 14px;
  font-weight: bold;
}

/* 만 18세 폭력 피해 경험 */

.graph-violenceExp {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 60%;
}

.violenceExp-title {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}

/* 가정폭력 피해경험 */
.violenceExp-legend {
  font-size: 20px;
  display: flex;
  font-weight: bold;
  padding-left: 50px;
}

.violenceExp-y-axis {
  padding-left: 50px;
  font-size: 12px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
  padding-bottom: 10px;
}

.violenceExp-x-text {
  font-size: 14px;
  font-weight: bold;
}
.violenceExp-y-text {
  font-size: 20px;
  font-weight: bold;
}

/* 목격경험 + 주가해자 */

.container2 {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  justify-content: space-around;
}

.graph-perpetrator {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.perpetrator-title {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}

.perpetrator-x-text {
  font-size: 14px;
  font-weight: bold;
}

.perpetrator-y-text {
  font-size: 17px;
  font-weight: bold;
}

/* 가정폭력 인프라 */
.graph-vioinfra {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 0px;
}

.vioinfra-title {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}

/* 가정폭력 신고건수 */
.graph-report {
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 50%;
}

.report-title {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #6e7176;
  margin: 0px;
}
